<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <link type="text/css" href="/vendors/css/foundation.min.css" rel="stylesheet" />
        <link type="text/css" href="/vendors/css/normalize.css" rel="stylesheet" />
        <link type="text/css" href="/vendors/css/foundation-datepicker.min.css" rel="stylesheet" />
        <link type="text/css" href="/css/custom.css" rel="stylesheet" />
                    
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
        <script src="/vendors/js/foundation-datepicker.min.js"></script>
        <script src="/js/interview_app.js"></script>
        <script src="/js/config.js"></script>
        <title>Интервью с клиентом</title>

        <script type="text/template" id="questions">
        <%var q = questions.get(p.q_id)%>
        <div class="row medium-uncollapse large-collapse">
            <div class="row" id="menu">
                <div class="small-3 columns">
                    <a href="#!start/" class="button tiny">Сначала</a>
                    <a href="#!start/" id="save" class="button tiny">Сохранить</a>
                </div>
            </div>
            <div class="row panel" id="question_last" style="display:none">
                <div class="small-6 small-centered columns">
                    <%=c.get("name")%>, спасибо за участие в опросе, ваше мнение очень важно для нас! Ждем вас в наших магазинах. Всего доброго, до свидания!
                </div>
            </div>
            <div class="row panel" id="question">
                <div class="large-10 large-offset-2 columns">    
                        <h4><%=q.get_category_name()%></h4>
                </div>
                <div class="large-10 large-offset-2 columns">    
                        <h5>Вопрос</h5>
                </div>
                <div class="small-6 small-centered columns">
                    <%=q.get("content").replace(/User/g, u.get("name")).replace(/Client/g, c.get("name"))%>
                </div>
                
                <div class="large-10 large-offset-2 columns">    
                        <h5>Ответы</h5>
                </div>
                <%if (interview.answers_type*1 && q.get("answers").length > 0) {%>
                    <div class="row" id="answers_1_score" >
                        <div class="large-9 large-offset-3 columns">
                            <input type="radio" id="score_1" value="1" name="score" class="score"><label for="score_1">1</label>
                            <input type="radio" id="score_2" value="2" name="score" class="score"><label for="score_2">2</label>    
                            <input type="radio" id="score_3" value="3" name="score" class="score"><label for="score_3">3</label>    
                            <input type="radio" id="score_4" value="4" name="score" class="score"><label for="score_4">4</label>    
                            <input type="radio" id="score_5" value="5" name="score" class="score"><label for="score_5">5</label>    
                            <input type="radio" id="score_6" value="6" name="score" class="score"><label for="score_6">6</label>    
                            <input type="radio" id="score_7" value="7" name="score" class="score"><label for="score_7">7</label>   
                            <input type="radio" id="score_8" value="8" name="score" class="score"><label for="score_8">8</label>    
                            <input type="radio" id="score_9" value="9" name="score" class="score"><label for="score_9">9</label>    
                            <input type="radio" id="score_10" value="10" name="score" class="score"><label for="score_10">10</label> 
                        </div>
                    </div>
                <%} else {%>
                    <div class="row" id="answers_1" >
                        <div class="large-9 large-offset-3 columns">
                            <a id="yes" href="#" class="button tiny success">Да</a>
                            <a id="no" href="#" class="button tiny secondary">Нет</a>    
                        </div>
                    </div>
                <%}%>
                <div class="row" id="answers_2" style="display:none">
                    <%_.each(q.get("answers"), function (a) {%>
                        <div class="large-9 large-offset-3 columns">
                            <input type="checkbox" id="<%=a.id%>" name="answers" value="<%=a.id%>"><label for="<%=a.id%>"><%=a.get("content")%></label>
                        </div>
                    <%})%>
                    <div class="large-9 large-offset-3 columns">
                        <label for="other_answer">Другое</label><input type="text" id="other_answer">
                    </div>
                </div>
                <div class="row" id="answers_3" style="display:none">
                    <div class="large-9 large-offset-3 columns">
                        <span class="success round label">Ура! Вопросы закончились!</span>
                    </div>
                </div>
                <div class="row" id="answers_4" style="display:none">
                    <div class="large-9 large-offset-3 columns">
                        <span class="secondary round label">Ну вот! =(</span>
                        <a href="#!start/" id="abort" class="button secondary">Закончить</a>
                    </div>
                </div>
                <%if (interview_hash[q.id] != undefined) {%>
                    <div class="row" id="last_answer">
                        <%var ans = interview_hash[q.id].answer%>
                        <%var score = interview_hash[q.id].score%>
                        <div class="large-10 large-offset-2 columns">    
                            <h5>Последний ответ</h5>
                        </div>
                        <div class="large-9 large-offset-3 columns">
                            <%if (interview.answers_type*1 && q.get("answers").length > 0) {%>
                                <span class="info label"><%=score%> очков</span>
                            <%} else {%>
                                <span class="<%=(ans[0] == 0) ? 'success' : 'secondary' %> label"><%=(ans[0] == 0) ? 'Да' : 'Нет' %></span>
                            <%}%>
                            <%_.each(ans, function (a) {%>
                                <%if (a == 0) return;%>
                                <div class="large-9 large-offset-3 columns">
                                    <label><%=answers.get(a).get('content')%></label>
                                </div>
                            <%})%>
                        </div>
                    </div>
                <%}%>
            </div>
            <%var another_q;%>
            <div class="row">
                <div class="small-6 columns text-center">
                    <% if ((another_q = questions.get(p.q_id).get_relative(-1)) != undefined) {%>
                        <a href="#!questions/<%=another_q.id%>/" class="button radius centered nav prev">Предыдущий</a>
                    <% } %>
                </div>
                <div class="small-6 columns text-center">
                    <% if ((another_q = questions.get(p.q_id).get_relative(1)) != undefined) {%>
                        <a href="#!questions/<%=another_q.id%>/" class="button radius centered nav next">Следующий</a>
                    <% } else { %>
                        <a href="#!start/" class="button radius centered nav last">Прощаться</a>
                    <% } %>
                </div>
            </div>
        </div>   
        </script>
        
        <script type="text/template" id="start">
        <div class="row medium-uncollapse large-collapse">
          <div class="row">
            <div class="small-6 small-centered columns" id="msg_block">
              
            </div>
          </div>
          <div class="row" style="display:none">
            <div class="small-6 small-centered columns">
              <label>Вы представляетесь
                <input id="user_name" type="text" placeholder="" value="<%=u.get('name')%>" />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-6 small-centered columns">
              <label>Тип интервью
                <select id="answers_type">
                    <option value="0">Да/Нет</option>
                    <option value="1">Баллы</option>
                </select>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-6 small-centered columns">
              <label>Дата обзвона
                <input id="calling_date" type="text" />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-6 small-centered columns">
              <label>Набор вопросов
                <select id="question_categories">
                    <option value="0">Розница</option>
                    <option value="0,1">Розница+Доставка</option>
                    <option value="2">Интернет магазин</option>
                </select>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-6 small-centered columns">
              <label>Оператор
                <select id="operator_type">
                    <option value="0">Оператор 1</option>
                    <option value="1">Оператор 2</option>
                </select>
              </label>
            </div>
          </div>
          <div class="row" id="shop_block">
            <div class="small-6 small-centered columns">
              <label>Магазин
                <select id="shop">
                </select>
              </label>
            </div>
          </div> 
          <div class="row">
            <div class="small-6 small-centered columns">
              <label>Берете интервью у клиента
                <input id="client_name" type="text" placeholder="Имя клиента" value="<%=c.get('name')%>" />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-6 small-centered columns">
              <label>Телефон
                <input id="client_phone" type="text" placeholder="+7-9XX-XX-XX-XX" value="" />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-6 small-centered columns">
              <label>№ реализации
                <input id="order_no" type="text" placeholder="" value="" />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-6 small-centered columns">
              <label>Товар
                <input id="product" type="text" placeholder="Стиральная машина" value="" />
              </label>
            </div>
          </div>
          <div class="small-12 small-centered columns text-center">
              <a href="#!questions/" class="button radius nav start">Начать интервью</a>
          </div>
          <div class="small-12 small-centered columns text-center">
              <a href="/?controller=users&action=logout" class="button radius">Выйти</a>
          </div>
        </div>   
        </script>
        
        <script type="text/template" id="editor">
            <div class="row">
                <div class="large-9 columns panel">
                    <div class="row">
                        <div class="large-7 large-offset-2 columns">    
                            <h5>Вопрос</h5>
                        </div>
                        <div class="large-6 large-centered columns">
                            <textarea id="question_text"></textarea>
                        </div>
                        <div class="large-6 large-centered columns">
                            <select id="question_category">
                                <option value="0">Розница</option>
                                <option value="1">Доставка</option>
                                <option value="2">Интернет магазин</option>
                            </select>
                        </div>
                        <div class="large-7 large-offset-2 columns">    
                            <h5>Ответы</h5>
                        </div>
                        <div class="large-9 large-offset-3 columns" id="answers_list">

                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 large-centered columns">

                             <input style="float:right" type="text" name="answers" id="answer_text" placeholder="вариант ответа">
                             <a href="#" class="button secondary tiny" id="answer_add">Добавить ответ</a>
                        </div>
                        <div class="small-12 small-centered columns text-center">
                            <a href="/#!editor/" class="button radius nav start" id="question_add">Добавить вопрос</a>
                        </div>
                    </div>
                </div>
                <div class="large-3 columns">
                    <%questions.each(function (q) {%>
                        <div class="panel callout radius">
                            <%=q.get("content")%>
                            <ul>
                            <%_.each(q.get("answers"), function (a) {%>
                                <li><%=a.get("content")%></li>
                            <%})%>
                            </ul>
                        </div>
                    <%})%>
                </div>
            </div>
        </script>
        <script type="text/template" id="stats">
            статистика
        </script>
    </head>
    <body>
    <div id="wrapper"></div>
    </body>
</html>