<div class="row medium-uncollapse large-collapse">
    <div class="row">
        <div class="small-6 small-centered columns">
            <span>Зарегистрируйтесь</span> 
            <form action="/?controller=users&action=registration" method="POST">
                <input  type="text" name="name" placeholder="Имя">
                <input  type="password" name="password" placeholder="Пароль">
                <input  type="submit" name="submit" class="button radius" value="Зарегистрироваться">
            </form>
        </div>
    </div>
</div>